#map{
  width: 100%;
  height: 100%;
}
@keyframes fade {
  0% { 
    opacity: 0.9;
    width: 3em;
    height: 3em;
    margin: 0em;
  }
  100% {
    opacity: 0.9;
    width: 2.5em;
    height: 2.5em;
    margin: 0.25em;
  }
}
.blinking {
  animation: fade 0.5s infinite alternate;
}